body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(background.gif);
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Header */

header {
    background: linear-gradient(310deg, #080161, #091231 95%);
}

    header ::after {
        content: '';
        display: table;
        clear: both;
    }

    header img {
        width: 125px;
        height: 75px;
    }

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: left;
}


div input {
    position: absolute;
    right: 50px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: #00A2C3;
    display: block;
    color: White;
    text-align: left;
    text-decoration: none;
    padding: 2px 5px;
    font-size: 23px;
    font-family: sans-serif;
    margin: 30px;
    padding-top: 10px;
    padding-right: 120px;
}

div button {
    position: absolute;
    right: 19px;
    padding: 6px 20px;
    padding-top: 9px;
    margin-top: 29px;
    background: #1EDD5A;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

    div button img {
        width: 20px;
        height: 20px;
    }

    div button:hover {
        background-color: #10A73F;
    }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 5px;
    padding-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    margin: 5px;
    background-color: #225FAF;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

    .button:hover {
        background-color: #420FAB;
        color: white;
    }

.interdivision {
    margin-left: 400px;
    height: 430px;
    width: 560px;
}

/* Section */

section {
    background: linear-gradient(70deg, #420FAB, #080161);
    text-align: center;
    font-size: 30px;
    color: navajowhite;
}

section p {
    margin-left: 120px;
    margin-right: 120px;
}


/* Footer */

footer {
    background-color: #73b22e;
    text-align: center;
    color: black;
    font-family: 'Secular One'
}

    footer p {
        margin-left: 500px;
        margin-right: 500px;
        font-family: 'Amatic SC';
        font-size: 30px
    }