body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(background.gif);
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Header */

header {
    background: linear-gradient(310deg, #080161, #091231 95%);
}

    header ::after {
        content: '';
        display: table;
        clear: both;
    }

    header img {
        width: 125px;
        height: 75px;
    }

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: left;
}


header input {
    position: absolute;
    right: 50px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: #00A2C3;
    display: block;
    color: White;
    text-align: left;
    text-decoration: none;
    padding: 2px 5px;
    font-size: 23px;
    font-family: sans-serif;
    margin: 30px;
    padding-top: 10px;
    padding-right: 120px;
}

header button {
    position: absolute;
    right: 19px;
    padding: 6px 20px;
    padding-top: 9px;
    margin-top: 29px;
    background: #1EDD5A;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

div button img {
    width: 20px;
    height: 20px;
}

div button:hover {
    background-color: #10A73F;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 5px;
    padding-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
}

header .button {
    -webkit-appearance: button;
    -moz-appearance: button;
    margin: 5px;
    background-color: #225FAF;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

header .button:hover {
    background-color: #420FAB;
    color: white;
}

/* Section */

.orgn {
    overflow-x: hidden;
}

.contenedor {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}

.titulo {
    margin-top: 3rem;
    text-align: center;
    position: relative;
    color: white;
}

    .titulo::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        width: 200px;
        background-color: #000;
    }

    .titulo h1 {
        font-weight: 500;
        opacity: 0.8;
    }

.productos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0px;
    float: left;
}


.producto-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    transition: all 0.4s ease;
}

.item {
    width: 400px;
    height:700px;
    margin: 8px;
    background-color: #fff;
}

.producto-img {
    position: relative;
    overflow: hidden;
}

.item img {
    width: 100%;
    display: block;
}

.producto-img div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.8rem;
    transform: translateY(100%);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.carrito {
    width: 90%;
    background-color: transparent;
    border: 2px solid #f2a80b;
    color: #f2a80b;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
}

.producto-img:hover div {
    transform: translateY(0);
}

.contenido {
    padding: 0.5rem 1rem;
    transition: all 0.4s ease;
}

.nombre-cont {
    display: block;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.2rem 0;
}

.developer {
    font-size: 0.9rem;
    font-weight: 300;
    opacity: 0.9;
    text-transform: capitalize;
}

    .developer span {
        font-weight: 400;
        color: rgb(76, 99, 76);
    }

.contenido div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precio {
    color: #ff1616;
}

section p {
    text-align: center;
    color: white;
    font-family: Impact;
    font-size: 15px;
}

section strong {
    color: darkred;
}

.hipervinculo {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    left: 45%;
    -webkit-appearance: button;
    -moz-appearance: button;
    margin: 5px;
    background-color: #225faf;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 11px;
    padding: 15px 32px;
    cursor: pointer;
}

    .hipervinculo:hover {
        background-color: #420FAB;
        color: white;
        cursor: pointer;
    }

/* Footer */

footer {
    background-color: #73b22e;
    text-align: center;
    color: black;
    font-family: 'Secular One'
}

    footer p {
        margin-left: 500px;
        margin-right: 500px;
        font-family: 'Amatic SC';
        font-size: 30px
    }